<div class="container">
  <h3 class="d-flex align-items-center wbdv-header">
    <i class="fas fa-times fa-sm mt-1 mr-3 close float-left wbdv-close" routerLink="/table/courses"
       title="Close" role="button"></i>
    <div class="text-overflow-hidden">{{courseTitle}}</div>
  </h3>
  <div class="row">
    <div class="col-sm-4 wbdv-module-list">
      <app-module-list></app-module-list>
    </div>
    <div class="col-sm-8 wbdv-lesson-tabs">
      <app-lesson-tabs></app-lesson-tabs>
    </div>
  </div>
</div>
