<div class="container wbdv-course-table">
  <ul class="list-group">
    <li class="list-group-item">Course</li>
    <li *ngFor="let course of courses"
        class="list-group-item list-group-item-action">
      <div class="d-flex justify-content-between">
        <div class="text-overflow-hidden mr-3">
          <i class="fas fa-file-alt text-primary wbdv-icon"></i>
          <a routerLink="{{course._id}}/modules">{{course.title}}</a>
        </div>
        <a class="float-right" routerLink="{{course._id}}/quizzes">Quizzes</a>
      </div>
    </li>
  </ul>
</div>
