<div class="container">
  <h2 class="wbdv-header">Quizzes</h2>
  <ul class="list-group">
    <li *ngFor="let quiz of quizzes"
        class="list-group-item">
      <a class="mr-3 d-flex align-items-center" routerLink="{{quiz._id}}">{{quiz.title}}</a>
      <div class="wbdv-quiz-attempts text-muted">
        Attempts: {{quiz.attempts?.length}}
        <br>
        Scores: <span *ngIf="quiz.attempts?.length === 0">N/A</span>
        <ul>
          <li *ngFor="let attempt of quiz.attempts">{{attempt.score}}%</li>
        </ul>
        <a class="btn btn-primary btn-sm float-right" routerLink="{{quiz._id}}">Start</a>
      </div>
    </li>
  </ul>
</div>
